
body{
    height: 100vh;
    margin: 0;
    color: rgb(41, 41, 41);
    font-family: 'Indie Flower', cursive;
}
h1{
    text-shadow: 4px 4px 4px peru;
    text-align: center;
}
p{
    text-align: center;
    font-size: 1.2rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem auto;    
    background: linear-gradient(0, #daa4b6, #e7cde7);

    width: 50%;

    border: 4px solid black;
    border-radius: 50px 100px;
}

.counter{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#currentNumber{
    font-size: 1.5rem;
}

.number{
    display: flex;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 3rem;
    padding: 0 4rem 0 4rem;
}

.adicionar, .subtrair{
    width: 6rem;
    height: 3rem;
    border-radius: 50px;
    background: black;
    margin: 1rem;
    
}


